body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background: #222;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

header {
  padding: 60px;
  background: #f4f4f4;
  text-align: center;
}

section, h1, p, ul {
  padding: 20px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
